@using Applications.ViewModel;
@model LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="account-background">
    <div class="account-boxview">
        <h2 class="text-center mb-4">Login</h2>
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="email" class="form-label"></label>
                <input asp-for="email" class="form-control"/>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="password" class="form-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="float-end">
                <a asp-controller="Account" asp-action="Verify" class="text-decoration-none">
                    Forgot password?
                </a>
            </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input asp-for="rememberme" class="form-check-input" />
                    @Html.DisplayNameFor(display => display.rememberme)
                </label>
            </div>
            <input type="submit" value="Login" class="btn btn-success w-100 p-2"/>
            <p class="text-center mt-2">
                Don't have an account?<a asp-controller="Account" asp-action="Register" class="text-decoration-none"> Register</a>
            </p>
            <div class="text-center">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back</a>
            </div>
        </form>
    </div>
</div>

 @section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
 }