@using Applications.ViewModel;
@model ResetPasswordVM
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="account-background">
    <div class="account-boxview">
        <h2 class="text-center mb-4">Reset Password</h2>
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="email" class="form-label"></label>
                <input asp-for="email" class="form-control" readonly/>
            </div>
            <div class="mb-3">
                <label asp-for="newpassword" class="form-label"></label>
                <input asp-for="newpassword" class="form-control" />
                <span asp-validation-for="newpassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="confirmedpassword" class="form-label"></label>
                <input asp-for="confirmedpassword" class="form-control" />
                <span asp-validation-for="confirmedpassword" class="text-danger"></span>
            </div>
            <input type="submit" value="Submit" class="btn btn-success w-100 p-2" />
            <div class="text-center">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}